Options FollowSymLinks
AddDefaultCharset utf-8

# prevent directory listings
Options -Indexes
IndexIgnore */*

<IfModule mod_rewrite.c>
	RewriteEngine on
	SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
	RewriteRule ^admin(.+)?$ backend/web/$1 [L,PT]
	#RewriteRule ^app(.+)?$ frontend/web/$1
</IfModule>